.followers {
  counter-set: count var(--start-count);
  list-style-type: none;
}
.follower {
  position: relative;
}
.follower:before {
  content: counter(count) '.';
  counter-increment: count;
  position: absolute;
  left: -2rem;
}
.pagination-buttons {
}
.pagination-buttons button {
  border: 0;
  background: none;
  cursor: pointer;
  color: blue;
}
.spinner {
  width: 1.5rem;
  height: 1.5rem;
  margin: 3rem;
  border: 2px solid aqua;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
